
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-primary: mat.define-palette(mat.$indigo-palette);
$test-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$test-theme: mat.define-light-theme((
  color: (
    primary: $test-primary,
    accent: $test-accent,
    warn: $test-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($test-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import './scss/variables';

$theme-colors: (
    "primary":$primary,
    "secondary":$secondary,
    "danger":$danger,
    "light":$light
);
  /* Importing Bootstrap SCSS file. */
  @import "~bootstrap/scss/bootstrap";
  
  /* Importing Datepicker SCSS file. */
  @import "~ngx-bootstrap/datepicker/bs-datepicker";
  
  @import './scss/navbar';

  body{
    font-family: 'Ubuntu', sans-serif;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Bootstrap dialogue cutom styles

.modal-dialog{
  margin: 0px;
  height: 100vh !important;
  float: right;
  width: inherit;
  .modal-content{
    height: 100%;
    animation-name: right-to-left;
    animation-duration: 0.3s;
  }
  }


.modal-backdrop {
  transition: opacity .05s linear;
}

.modal.fade.show .modal-content {
  animation-name: anim-open;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.modal.fade .modal-content {
  animation-name: anim-close;
}

@keyframes anim-open{
  0% {
    opacity: 0;
    transform: translate(100%,0);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes anim-close {
  0% {
    opacity: 1;
    transform: translate(0,0);
  }
  100% {
    opacity: 0;
    transform: translate(100%,0);
  }
}
